body{
    font-family: Arial,sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

header{
    background-color: #343a40;
    color: white;
    padding: 10px 20px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav-links a {
    text-decoration: none;
    color:  white;
    font-weight: bold;
}

.product-section{
    display:  flex;
    padding:  20px;
    background-color: white;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.product-image img {
    max-width: 100%;
    border-radius: 8px;
}
.product-details {
    margin-left: 20px;
}
product-name{
    font-size: 2rem;
    color: #343a40;
}

.product-description {
    margin: 15px 0;
    font-size: 1rem;
    font-family: Arial;
    font-weight: 20px;
}
.product-price{
    font-size: 1.5rem;
    color: #e74c3c;
    margin-bottom: 20px;

}
.add-to-cart-btn{
    background-color: #27ea60;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.add-to-cart-btn:hover {
    background-color: #2ecc71;
}
.customer-reviews, .related-products {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.customer-reviews h2, .related-products h2 {
    color: #343a40;
}
.related-products {
    display: flex;
    gap: 15px;
}

.related-product-item {
    text-align: center;
}

.related-product-item img {
    max-width: 100px;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #343a40;
    color: white;
}
